p {
    padding-left: 20px;
}

.info {
    background-color: green;
}

pre {
    background-color: red;
	height: 20vh;
}

.inner-pre {
    font-size: 20px;
}

h1, h3 {
    text-decoration: underling;
}

#chart-button {
    z-index: 2000;
    position: fixed;
	right: 0;
}